
.custom-navbar {
  background-color: #f8f9fa;

}

.p-menubar {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #f8f9fa;
  width: 100%;
}

.p-menubar-start {
  display: none;
}

.p-menubar-root-list {
  display: flex;
  margin-left: auto;
}

.p-menubar-root-list > .p-menuitem {
  margin: 0 10px;
}

.p-menuitem-link {
  transition: background-color 0.3s ease;
}

.p-menuitem-link:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .p-menubar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .p-menubar-root-list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .p-menubar-root-list > .p-menuitem {
    margin: 10px 0;
  }
}
